<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<form method="POST" class="post-form" action="/create">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Enter Details</h3>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Tweet Id:</label>
    <div class="col-sm-4">
      {{ form.tweetID }}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Company Id:</label>
    <div class="col-sm-4">
      {{ form.companyID }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Date:</label>
    <div class="col-sm-4">
      {{ form.date }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Text:</label>
    <div class="col-sm-4">
      {{ form.text }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">User Id:</label>
    <div class="col-sm-4">
      {{ form.userID }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Score:</label>
    <div class="col-sm-4">
      {{ form.score }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Interactions:</label>
    <div class="col-sm-4">
      {{ form.interactions }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
    </div>
    <br>
  <div>
    <a href="{% url '_covidStocks:show' %}"> Display Table </a>
  </div>
</form>
</body>
</html>
